
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../../public/global.css">



<footer id="page-footer" class="mt-auto redes_sociales">
    <div class="moove-container-fluid footer-columns">
        <div class="row contenedor-footer sin-enlaces">

            <div class="col-auto contact">
                <div class="img-logo-junta">
                    <span class="logo logo-ue">
                        <img src="https://educacionadistancia.juntadeandalucia.es/centros/cadiz/theme/image.php/centros/theme_eva/1773325223/footer/footer-eu" alt="" title="Unión Europea">
                    </span>
                    <span class="logo logo-footer-gob-esp">
                        <img src="https://educacionadistancia.juntadeandalucia.es/centros/cadiz/theme/image.php/centros/theme_eva/1773325223/footer/footer-gob-esp" alt="Logo Gobierno de España" title="Ministerio de Hacienda">
                    </span>
                    <span class="logo logo-footer-fondos">
                        <img src="https://educacionadistancia.juntadeandalucia.es/centros/cadiz/theme/image.php/centros/theme_eva/1773325223/footer/footer-fondos" alt="Logo Fondos Europeos" title="Fondos Europeos">
                    </span>
                    <span class="logo junta-escritorio">
                        <img src="https://educacionadistancia.juntadeandalucia.es/centros/cadiz/theme/image.php/centros/theme_eva/1773325223/logo_junta_blanco" alt="" title="Junta de Andalucía">
                    </span>
                </div>
            </div>

            <div class="col-auto social">
                <p>Síguenos</p>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/EducaAnd" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://x.com/educaand" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1668.56 1221.19"><path d="M283.94,167.31l386.39,516.64L281.5,1104h87.51l340.42-367.76L984.48,1104h297.8L874.15,558.3l361.92-390.99h-87.51l-313.51,338.7l-253.31-338.7H283.94z M412.63,231.77h136.81l604.13,807.76h-136.81L412.63,231.77z" transform="translate(52.39 -25.059)" fill="#ffffff"></path></svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCq8I8XprHmCs8R_Jj3hSYdA" target="_blank">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/educaand/" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>

</body>
</html>