<h1>Bienvenido a Cibermoodel</h1>
<p>Esta es la página de inicio del proyecto.</p>
<div class="mt-4">
    <a href="/alumno" class="btn btn-primary me-2">Ver Alumno</a>
    <a href="/profesor" class="btn btn-secondary">Ver Profesor</a>
</div>
